<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Expensr - Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8>
          <h3>Welcome to Expensr!</h3>
          <p>Expensr allows you to track your expenses on an as needed basis. Simply record all of your monthly bills and post your
            account balance in on a daily or as needed basis!</p>
          <form name="frm_login" novalidate *ngIf="user">
            <ion-list>
              <ion-item>
                <ion-label fixed>Username</ion-label>
                <ion-input class="basic-input" name="email" type="text" value="" [(ngModel)]="user.email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label fixed>Password</ion-label>
                <ion-input class="basic-input" name="password" type="password"  [(ngModel)]="user.password"></ion-input>
              </ion-item>
              <ion-item>
                <button ion-button type="button" (click)="login();">Login</button> <span *ngIf="message" color="danger">{{message}}</span>
              </ion-item>
            </ion-list>
          </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
